
  
      body {
        background-image: url("C:\Users\sumayya\Desktop\virtual\Images\sea.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
         .btn {
            background-color: yellow;
            color: black;
            width: 120px;
            text-align: center;
            font-size: 15px;
            padding: 20px;
            border-radius: 15px;
            border: 3px dashed blue;
         }
     